body {
    padding:0;
    /* This removes the border around the viewport in old versions of IE */
    border:0;
    width:100%;
    background:#fff;
    min-width:600px;
    /* Minimum width of layout - remove line if not required */
    /* The min-width property does not work in old versions
       of Internet Explorer */
    /*font-size:90%;*/
}

/* http: //matthewjamestaylor.com/blog/equal-height-columns-cross-browser-css-no-hacks */

/* column container */
.colmask {
    position:relative;		/* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
    clear:both;
    float:left;
    width:100%;			/* width of whole page */
    /* overflow:hidden;	*/ /* This chops off any overhanging divs */
}
/* 2 column left menu settings */
.leftmenu {
    background:#ff9;
}
.leftmenu .colright {
    float:left;
    width:200%;
    position:relative;
    left:250px;
    background:#fff;
}
.leftmenu .col1wrap {
    float:right;
    width:50%;
    position:relative;
    right:250px;
    padding-bottom:1em;
}
.leftmenu .col1 {
    margin:0 15px 0 265px;
    position:relative;
    right:100%;
    /* overflow:hidden; */
}
.leftmenu .col2 {
    float:left;
    width:220px;
    position:relative;
    right:235px;
    font-size: 90%;
}
.leftmenu .col2 ul {
    list-style-type: none;
    margin: 0 0 1em;
    padding: 0 0 0 1em;
}
.leftmenu .col2 h2 {
    font-size: 100%;
    margin: 1em 0 0 0;
}

