elovar.txt
eloprev.txt
playercd.txt
standing.txt
crosstable.txt
rankgrp.txt
crosstablescore.txt
result*.txt
www*/
pairs*.txt
pairs*.man
verbose*.txt
scoregroups*.txt
SortedPairs*.txt

*-VEG-*.bak
*.qtf
